html,
body{
    background-color:blue;
    font-family:Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    overflow-x:hidden;
    scroll-behavior: smooth;
    margin:0;
}

h1{
    font-size:200%;
}

/********************/
/***Top Nav***/
/*******************/

.top-nav{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    background-color:black;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}

.nav-list{
    list-style:none;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    color:white;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}

.logo{
    display:inline-block;
    font-size:150%;
    margin-right:70px;
    font-weight:bold;
    color:white;
    text-decoration: none;
    padding-bottom:5px;
    margin-left:40px;
}

.nav-list li{
    padding-right:30px;
}

.nav-list li:nth-child(3){
    padding-right:2px;
}

.nav-list li a{
    text-decoration:none;
    color:white;
    padding-bottom:3px;
}

a:hover,
a:active{
    border-bottom:1px solid grey;
}

.logo:hover,
.logo:active{
    color:rgb(219, 219, 219);
    border-bottom:transparent;
}

.nav-list li:last-child{
    display:inline-block;
    font-size:60%;
    border:1px solid blue;
    background-color:blue;
    border-radius:50%;
    margin-left:0;
    padding:1px 4px;
    margin-bottom:8px;
}

.signout-btn {
    margin-left:auto;
    margin-right:40px;
}

.signout-btn a{
    text-decoration:none;
    color:white;
    border:1px solid blue;
    background-color:blue;
    border-radius:5%;
    padding:5px;
}

/********************/
/***Table***/
/*******************/

.table-body{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    /*background-color:blue;*/
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
}

/*****Title and Heading*****/

.table-info{
    color:white;
    padding-top:30px;
    padding-bottom:60px;
}

.table{text-align: left}

.table thead tr{
    background-color: black;
}

.quarters{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    padding-top:10px;
    padding-bottom:5px;
}

thead a{
    text-decoration: none;
    color:white;
}

thead a:active,
thead a:hover{
    color:rgb(219, 219, 219);
}

/*****Rows and Borders***/

tr:nth-child(odd){background-color:rgb(240, 235, 235)}
tr:nth-child(even){background-color:white}

tbody tr:first-child{
    -webkit-box-shadow:inset 0px 3px 1px .8px rgba(0, 0, 0, 0.315);
    box-shadow:inset 0px 3px 1px .8px rgba(0, 0, 0, 0.315);
}

tr{
    height:10vh;
}

tr td:last-child{
    padding-right:150px;
}

.table tr,
.table td,
.table th{
    border-left:1px solid rgb(219, 219, 219);
    padding-left:10px;
    padding-right:60px;
}

.table tr:first-child,
.table td:first-child,
.table th:first-child{
    border-left:none;
}

.table tbody{
    color:black;
}

/********************/
/***Queries***/
/*******************/

/*small phones to small tablets (500-767px)*/
@media only screen and (max-width:767px){

    /*****Navigation*****/
    .logo{
        display:block;
        width:30%;
        margin:auto;
        font-size:200%;
        padding-bottom:5px;
    }

    .top-nav{
        display:block;
        padding-top:30px;
    }

    .nav-list{
        display:inline-block;
        margin-left:-25px;
    }

    .nav-list li{
        float:left;
    }

    .signout-btn{
        margin-left:80px;
        margin-top:15px;
        float:right;
        margin-right:10px;
    }

    /*****Table*****/

    .table-body{
        -webkit-box-flex:50%;
        -ms-flex:50%;
        flex:50%;
    }

    tr td:last-child{
        padding-right:100px;
    }

    .table tr,
    .table td,
    .table th{
        padding-left:10px;
        padding-right:50px;
    }

    th{
        font-size:90%;
    }

    td{
        font-size:90%;
    }
}











